body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-image: url("../img/math2.jpg");
	background-position: ;
	background-repeat: repeat;
	background-size: cover;
}

.header1{
	background: black;
	width: 100%;
	height: 40px;
}

.menu-principal{
	margin: 0 auto;
	background: black;
	width: 100%;
	height: 80px;
}

main{
	margin-top: auto;
	width: 100%;
	position: relative;
}

.logo{
	float: left;
	padding: 15px;
	width: 15%;
}

.titulo{
	color: white;
	float: left;
	font-family: Amatic;
	padding: 10px;
	width: 66%;
	font-size: 20px auto;
	margin-bottom: 0px;
	margin-top: 5px;
}

.redes ul li{
	display: inline-block;
	width: 4% auto;
	margin: 5px 3px 1px 1px;
	padding: 5px 3px 1px 1px;
}

.img{
	width: 25px;
	height: 25px;
}

.img1{
	width: 25px;
	height: 25px;
}

.header2{
	margin-top: 0px;
	display: flex;
	background-color: #AFC5C8 ;
	opacity: 0.9;
	width: 100%;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.menu ul li{
	display: inline-block;
	margin: 15px 0px 5px 0px;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 10px;
}

.menu ul li a:hover{
	color: #00bac6;
	border-bottom: 1px solid #00bac6;
}

.menu ul li a{
	margin: 15px;
	color: #35046F;
	text-decoration: none;
	text-transform: uppercase;
}

.banner{
	height: 220px auto;
	margin-top: px;
	background-color: #AFC5C8 ;
	background-position: center;
	background-size: cover;
	opacity: 0.9;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.bannertit{
	text-align: center;
	margin-top: 10px;
	color: #35046F;
	text-decoration: none;
	text-transform: uppercase;
}

.bannertext{
	text-align: center;
	margin: px;
	padding: 0px 10px 10px 10px;
	color: #35046F;
	text-decoration: none;
	font-size: 18px auto;
}

.mid{
	width: 100%;
	height: 100px;
	background-color: white;
}

.footer{
	margin: 0px;
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
}

.exe1{
	width: 100px;
	height: 100px;
	background-color: blue;
}